section.filters
  include ../utils/crumbs.pug
  h2.title Сливочное мороженое
  form.filters__form
    .sort
      label.sort__title(for="sort") Сортировка:
      select#sort
        option(value="popular") по популярности
        option(value="cheap") сначала недорогие
        option(value="expensive") сначала дорогие
        option(value="fatness") по жирности
      - let price_min = 100, price_max = 355, min = 0, max = 500
    .price(style=`--price-min: ${price_min}; --price-max: ${price_max}; --min: ${min}; --max: ${max}`)
      legend.price__title Цена: 
      output#output-min.output-min(for="price-min" style="--current: var(--price-min)")
      | -
      output#output-max(for="price-max" style="--current: var(--price-max)")
      .price__range
        label.hidden(for="price-min") Минимальная цена 
        input#price-min.price__min(type="range", min=min, max=max, value=price_min)
        label.hidden(for="price-max") Максимальная цена
        input#price-max.price__max(type="range", min=min, max=max, value=price_max)
    fieldset.fatness  
      legend.fatness__title Жирность:
      ul.fatness__list  
        li.fatness__item
          input#zero(type="radio" name="fatness")
          label(for="zero") 0%
        li.fatness__item 
          input#toTen(type="radio" name="fatness" checked)
          label(for="toTen") до 10%
        li.fatness__item 
          input#toThirty(type="radio" name="fatness")
          label(for="toThirty") до 30%
        li.fatness__item 
          input#upThirty(type="radio" name="fatness")
          label(for="upThirty") выше 30%
    fieldset.topping 
      legend.topping__title Наполнители:
      ul.topping__list
        li.topping__item 
          input#choko(type="checkbox" name="topping") 
          label(for="choko") шоколадные
        li.topping__item 
          input#sugar(type="checkbox" name="topping") 
          label(for="sugar") сахарние присыпки
        li.topping__item 
          input#fruit(type="checkbox" name="topping") 
          label(for="fruit") фрукты
        li.topping__item 
          input#syrop(type="checkbox" name="topping") 
          label(for="syrop") сиропы
        li.topping__item 
          input#jam(type="checkbox" name="topping") 
          label(for="jam") джемы  
    button.btn_bd Применить