footer.main-footer
  ul.social 
    each item in ["Twitter", "Instagram", "Facebook", "Vkontakte"]
      li.social__item 
        a(href="#"): img(src=require(`../images/${item.toLowerCase()}.svg`), width="37" height="37", alt=`${item}` loading="lazy") 
  ul.main-footer__list
    each item in ["Для поставщиков", "О производстве", "Наши документы", "Экологические стандарты"]
      li.main-footer__item= item
        a.link(href="#" title= item)
  .copyright
    img(src=require("../images/logo-htmlacademy.svg") width="108" height="39" alt="HTML Academy" loading="lazy")
    p Сделано в HTML Academy &#169; 2019