footer.main-footer
  ul.social 
    each item in ["Twitter", "Instagram", "Facebook", "Vkontakte"]
      li.social__item 
        a(href="#"): img(src=require(`../images/${item.toLowerCase()}.svg`), width="32", height="32", alt=`${item}`) 
  ul.footer-menu
    each item in ["Для поставщиков", "О производстве", "Наши документы", "Экологические стандарты"]
      li.footer-menu__item= item
  .copyright
    img(src=require("../images/logo-htmlacademy.svg"), width="108", height="39", alt="HTML Academy")
    p Сделано в HTML Academy &#169; 2019