button.cart.btn_transparent(title="Корзина")
  include ../../images/basket.svg
  | Пусто
table.table.cart__wrap
  tbody.table__body
    - for (let x = 0; x < 2; x++)
      tr.row
        td.row__delite 
          button.btn(tabindex="-1"): img(src=require("../../images/cross-small.svg") width="11" height="11" alt="Удалить" loading="lazy")
        td.row__image
          picture 
          source(type="image/webp" 
            srcset=require(`../../images/ice${x+1}.webp`) + " 1x, " + require(`../../images/ice${x+1}-2x.webp`) + " 2x")
          img(src=require(`../../images/ice${x+1}.jpg`) 
            srcset=`../../images/ice${x+1}-2x.jpg 2x` 
            width="33" height="33" alt="" loading="lazy")
        td.row__title Пломбир с апельсиновым джемом
        td.row__amount 1,5 кг х 
          span 200 руб.
        td.row__summary 300 руб.
  tfoot.table__foot
    tr
      td.table__total(colspan="5") Итого: 600 руб.
    tr
      td(colspan="5"): button.btn_medium(tabindex="-1") Оформить заказ
